.navbar-container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 240px 1fr;
  text-align: center;
  background: #42476f;
}
.nav-aside {
  padding: 15px 0;
  border-right: 2px solid #c8cbd9bf;
}
.navbar {
  display: grid;
  grid-template-columns: 7fr 2.5fr 2fr;
  border-bottom: 3px solid #c8cbd9bf;
}
.navbar section {
  padding: 15px 0;
}
.search-bar {
  border: none;
  background-color: #f6f6fb;
  width: 625px;
  height: 32px;
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  position: relative;
}
.search-bar:focus {
  outline: none;
}
button {
  border: none;
  background: none;
}
.search svg,
.login svg,
.navbar-icons svg {
  width: 20px;
  height: 20px;
}
.search svg {
  position: absolute;
  top: 25px;
  left: 930px;
}
.login {
  display: flex;
  justify-self: center;
}
.login button {
  color: #fff;
}
.login svg {
  margin-right: 0.3rem;
  padding-top: 10px;
}
.navbar-icons svg {
  padding-top: 10px;
  margin: 0 1rem;
}
