a {
  text-decoration: none;
}

.layout-container {
  display: flex;
  flex-direction: row;
}

.layout-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.layout-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 240px;
  max-width: 240px;
  min-height: 100vh;
  background: #363740;
  color: #fff;
}

.layout-child {
  flex-grow: 2;
}

.active-link {
  /* color: #fff; */
  color: #5a6acf;

  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.1);
}

.pending-link {
  /* color: #fff; */
  color: #273240c9;

  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}
